@font-face {
    font-family: 'dosisregular';
    src: url('dosis-regular-webfont.eot');
    src: url('dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('dosis-regular-webfont.woff') format('woff'),
         url('dosis-regular-webfont.ttf') format('truetype'),
         url('dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dosissemibold';
    src: url('dosis-semibold-webfont.eot');
    src: url('dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dosis-semibold-webfont.woff') format('woff'),
         url('dosis-semibold-webfont.ttf') format('truetype'),
         url('dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: white;
	font-family: Dosis ,Georgia, Times New Roman, Times, serif;
	font-size:14px;
	background-image: url('../res/background.jpg');
	overflow-x: hidden;
	color:#333333;
}

p {
	text-align:left;
	padding:35px;
	line-height:21px;
}

#wrapper {
	overflow: hidden;
}

#header{
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 110px;
}

.majuscules {
	text-transform:uppercase;
	font-weight:500;
}

#DIV_MOVE{
	z-index: 100;
}

#menu li {
	list-style:none;
	margin:15px 5px;
	width:45px;
	overflow:hidden;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#menu li:hover {
	width:100%;
}

#menu li a {
	padding-left:0px;
}

#nuage-1{
	position: absolute;
	top:0px;
	right:25px;
}

#nuage-2{
	position: absolute;
	top: 450px;
	left: 100px;
}

#twitter_ligne_vie_1{
	width: 100%;
	height: 1560px;
	background-image: url("../res/nuage_4.png");
	background-position: top,center;
	background-repeat: no-repeat;
}

#definition{
	margin-top: 600px;
	height:1560px;
}

#ligne_vie_1{
	width: 100%;
	height: 1560px;
	background-image: url("../res/partie-1/ligne_de_vie_1.png");
	background-position: top,center;
	background-repeat: no-repeat;
}

#definition-wrapper{
	width: 1000px;
	height: 1560px;
	margin : auto;
	position: relative;
	top: -1560px;
	text-align: center;
}

/* div image definition 1 manuscrite */
#definition1-title{
	margin-left:250px;
	padding-bottom:100px;
}

/* div image defintion object et connecté */
#texte-definition1-part1{
	margin-left:265px;
	position:relative;
	z-index:10;
	width:520px;
	overflow: hidden;
}
#texte-definition1-part1 img, #texte-definition1-part1 div{
	float:left;
}

#def-objet{
	width:216px;
	height:72px;
	background-image:url(../res/partie-1/definition_objet.png);
	overflow:hidden;
	padding-top:10px;
}

#def-objet p, #def-connecte p, #text-association div{
	padding-top: 0;
	padding-right: 0;
	margin-top: 0;
	line-height: 16px;
}

#def-connecte{
	width:218px;
	height:70px;
	background-image:url(../res/partie-1/connecte_definition.png);
	overflow:hidden;
	position:relative;
	left:-10px;
	padding-top:10px;
}

#fleche-connecte{
	position: relative;
	top: 25px;
	left: -6px;
	overflow:hidden;
	z-index:-1;
}
#fleche-connecte img{
	position:relative;
}

/* div image définition association et tic */
#texte-definition1-wrapper{
	height:480px;
}

#texte-definition1-part2{
	margin-top:-10px;
	margin-left:260px;
	margin-bottom:90px;
	position:relative;
	z-index:9;
	overflow:hidden;
}
#texte-definition1-part2 img{
	float:left;
}

#text-association, #wrapper-association{
	float:left;
	width:505px;
	height:203px;
	overflow:hidden;
}
#text-association{
	background-image:url(../res/partie-1/definition_texte_2.png);
	text-align:left;
}

#text-association div{
	padding-top:20px;
	padding-left:10px;
}
#tic-link{
	color:#f2a3b6;
}
/* image définition tic */
#texte-definition1-tic{
	overflow:hidden;
}

#texte-definition1-tic img{
	float:left;
	margin-top:105px;
	margin-left:-5px;
	position:relative;
}
/* image cliquable pour lien TIC */
#tic-link:hover{
	cursor:pointer;
}
/* image cliquable pour lien vers PLUS TIC */
#more-tic-link{
	top: 235px;
	left: -150px;
}
#more-tic-link:hover{
	cursor:pointer;
}
/* FIN DIV IMAGE DEFINITION ET TIC */

#illustration-definition1{
	position:relative;
	top:-100px;
}

#illustration-part1, #illustration-fleche, #illustration-part2{
	overflow:hidden;
}

#transition-ville{
	width: 100%;
	height: 253px;
}
#wrapper-illustration-fleche{
	height:140px;
}

#la-ville{
	margin: auto;
	height :1124px;
	background-image:url(../res/transition-1-2/ville.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
	top:-430px;
}
#transition-nuages{
	margin: auto;
	height :655px;
	background-image:url(../res/transition-1-2/ville_nuage.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
	top:-430px;
	z-index: -1;
}

#transition-soleil{
	margin: auto;
	height :655px;
	background-image:url(../res/transition-1-2/ville_soleil.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
	top: 150px;
	z-index: -2;
}

#aujourdhui-title{
	position:relative;
	left:-75px;
}

#aujourdhui{
	height: 4000px;
}
#aujourdhui_ligne_vie{
	height: 3886px;
}
#aujourdhui_ligne_vie_vertical{
	height: 3886px;
	background-image:url(../res/partie-2/ligne-de-vie-vertical.png);
	background-position: top,center;
	background-repeat: no-repeat;
}
#aujourdhui_ligne_vie_horizontal{
	height: 860px;
	margin: auto;
	background-image:url(../res/partie-2/ligne-de-vie-horizontal.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
}
#aujourdhui-wrapper{
	width: 1000px;
	height: 4000px;
	margin : auto;
	position: relative;
	top: -3650px;
	text-align: center;
}

#aujourdhui-texte1{
	position:relative;
	top:75px;
	left:255px;
	overflow:hidden;
}

#aujourdhui-texte1 p {
	background:url("../res/partie-2/text_definition.png") top center no-repeat;
	width:441px;
	height:98px;
	padding:35px;
}

#aujourdhui-nabaztag{
	position: relative;
	left: -190px;
	top: -80px;
	width:556px;
	height:577px;
	overflow:hidden;
}

#aujourdhui-nabaztag-texte{
	position: relative;
	top: -330px;
	left: 100px;
	height:335px;
	background:url("../res/partie-2/text_nabaztag.png") top left no-repeat;
}

#aujourdhui-nabaztag-texte p {
	width: 150px;
	padding: 35px;
	padding-top: 25px;
}

#aujourdhui-nabaztag-texte p .majuscules{
	color:#f2a3b6;
}

#btn-nabaztag{
	position: relative;
	left: -455px;
	top: -45px;
}

#nuage-nabaztag{
	position:relative;
	width:434px;
	height:287px;
	top:-2140px;
	left:-300px;
}
#btn-nabaztag:hover{
	cursor:pointer;
}
	
#aujourdhui-iphone{
	position: relative;
	top: -630px;
	left: 499px;
	width:157px;
}

#aujourdhui-iphone-texte{
	background:url("../res/partie-2/texte_iphone.png") top left no-repeat;
	position: relative;
	top: -1055px;
	left: 675px;
	width: 323px;
	height: 345px;
}

#aujourdhui-iphone-texte p .majuscules {
	color:#88e0be;
}

#btn-iphone{
	position:relative;
	top:-40px;
	left:-118px
}

#aujourdhui-raquette{
	position: relative;
	top: -700px;
	left: -65px;
}

#aujourdhui-raquette-texte{
	background:url("../res/partie-2/texte_raquette.png") top left no-repeat;
	position: relative;
	top: -1352px;
	left: 468px;
	width:321px;
	height:231px;
}

#aujourdhui-raquette-texte p .majuscules{
	color:#b69ee2;
}

#btn-raquette{
	position: relative;
	left: -118px;
	top: -45px;
}

#aujourdhui-chaussure{
	width:343px;
	height:257px;
	overflow:hidden;
	position:relative;
	top: -1495px;
	left: 620px;
}
#aujourdhui-chaussure-texte{
	background-image:url(../res/partie-2/text_chaussure.png);
	position:relative;
	width:356px;
	height:365px;
	overflow:hidden;
	top: -1750px;
	left: 800px;
}
#aujourdhui-chaussure-texte p .majuscules{
	color:#ffb699;
}
#btn-chaussure{
	position:relative;
	top: -15px;
	left: -128px;
}

#aujourdhui-babyfoot{
	position: relative;
	width: 291px;
	height: 192px;
	overflow: hidden;
	top: -2230px;
	left: 191px;
}
#aujourdhui-babyfoot-texte{
	background:url("../res/partie-2/texte_babyfoot.png") top left no-repeat;
    height: 430px;
    left: -45px;
    overflow: hidden;
    position: relative;
    top: -2360px;
    width: 338px;
}
#aujourdhui-babyfoot-texte p .majuscules {
	color:#ffda0c;
}
#btn-babyfoot{
	position: relative;
	left: -125px;
	top: -30px;
}
#aujourdhui-brosse{
	position: relative;
	width: 53px;
	height: 353px;
	overflow: hidden;
	top: -2560px;
	left: 495px;
}
#aujourdhui-brosse-texte{
	background-image:url(../res/partie-2/texte_brosse.png);
	position: relative;
	width: 256px;
	height: 311px;
	overflow: hidden;
	top: -2755px;
	left: 545px;
}
#aujourdhui-brosse-texte p{
	margin-top:0px;
}
#aujourdhui-brosse-texte .majuscules{
	color:#64d2f6;
}
#btn-brosse {
position: relative;
top: -36px;
left: -87px;
}
#aujourdhui-bouteille{
	position: relative;
	width: 386px;
	height: 726px;
	overflow: hidden;
	top: -3060px;
	left: -110px;
}
#aujourdhui-bouteille-texte{
	background:url("../res/partie-2/texte_bouteille.png") top left no-repeat;
	position: relative;
	top: -3372px;
	left: 78px;
	width:276px;
	height:140px;
}

#aujourdhui-bouteille-texte p .majuscules {
	color:#a0d45b;
}

#btn-bouteille {
	position: relative;
	left: -93px;
	top: -45px;
}
#aujourdhui-nike{
	position: relative;
	width: 374px;
	height: 42px;
	overflow: hidden;
	top: -3425px;
	left: 602px;
}
#aujourdhui-nike-texte{
	background:url("../res/partie-2/texte_nike.png") top left no-repeat;
	position: relative;
	top: -3582px;
	left: 710px;
	width:250px;
	height:295px;
}

#aujourdhui-nike-texte p {
	padding:30px;
}

#aujourdhui-nike-texte p .majuscules {
	color:#88e0be;
}

#btn-nike {
	position: relative;
	left: -86px;
	top: -40px;
}

#aujourdhui-balance{
	position: relative;
	width: 489px;
	height: 483px;
	overflow: hidden;
	top: -3170px;
	left: 60px;
}
#aujourdhui-balance-texte{
	background:url("../res/partie-2/texte_balance.png") top left no-repeat;
	position: relative;
	top: -3852px;
	left: 180px;
	width: 415px;
	height: 280px;
}

#aujourdhui-balance-texte p {
	padding:40px;
}

#aujourdhui-balance-texte p .majuscules {
	color:#ff8caf;
}

#btn-balance {
	position: relative;
	left: -161px;
	top: -40px;
}

#aujourdhui-tv{
	position: relative;
	width: 371px;
	height: 308px;
	overflow: hidden;
	top: -4370px;
	left: 740px;
}
#aujourdhui-tv-texte{
	background:url("../res/partie-2/texte_tv.png") top left no-repeat;
	position: relative;
	top: -4474px;
	left: 690px;
	width: 337px;
	height: 164px;
}

#aujourdhui-tv-texte p {
	padding:30px;
}

#aujourdhui-tv-texte p .majuscules {
	color:#d2b7ea;
}
#btn-tv {
	position: relative;
	left: -130px;
	top: -40px;
}

#aujourdhui-oeil{
	position: relative;
	width: 339px;
	height: 153px;
	overflow: hidden;
	top: -4225px;
	left: 335px;
}

#aujourdhui-oeil-texte{
	background-image:url(../res/partie-2/texte_camera.png);
	width: 298px;
	height: 240px;
	position: relative;
	top: -4230px;
	left: 355px;	
}

#aujourdhui-oeil-texte p .majuscules {
	color:#abe2fb;
}

#btn-camera {
position: relative;
top: -37px;
left: -108px;
}

#aujourdhui-arduino-texte1{
	background-image:url(../res/partie-2/texte-arduino1.png);
	width: 501px;
	height: 158px;
	position: relative;
	top: -4230px;
	left: 275px;	
}

#aujourdhui-arduino-texte2{
	background-image:url(../res/partie-2/texte_arduino_2.png);
	width: 501px;
	height: 90px;
	position: relative;
	top: -4230px;
	left: 275px;
	z-index:50;
}
#aujourdhui-arduino-texte2 p{
	padding-top:20px;
}

#transition-machine{
	width: 100%;
	height: 762px;
	background-image:url(../res/transition-2-3/machine.png);
	background-position: top,center;
	background-repeat: no-repeat;
	position: relative;
	top: 90px;
	left:-10px;
}
#anime-machine-wrapper{
	width: 1000px;
	height: 700px;
	margin: auto;
	position: relative;
	top: -149px;
}
#ligne-de-vie-machine{
	width: 207px;
	height: 480px;
	background-image:url(../res/transition-2-3/ligne-de-vie-machine.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 509px;
}
#eclair-machine{
	width: 101px;
	height: 245px;
	background-image:url(../res/transition-2-3/eclair.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 129px;
	z-index: -2;
}
#nuage-machine{
	width: 242px;
	height: 178px;
	background-image:url(../res/transition-2-3/nuage-gris.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 419px;
	top: -200px;
	z-index: -2;
}
#spirale-machine{
	width: 219px;
	height: 248px;
	background-image:url(../res/transition-2-3/spirale.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 719px;
	top: -400px;
	z-index: -2;
}

/* PARTIE DEMAIN */
#demain-titre{
	position:relative;
	top:-1780px;
	left:280px;
}

#demain-lignedevie-vertical, #demain-lignedevie, #demain-wrapper,#demain-wrapper-vertical, #demain-content-wrapper{
	width:1031px;
	height:2894px;
	margin:auto;
}
#demain-lignedevie-vertical{
	background-image:url(../res/partie-3/ligne-de-vie-vertical.png);
	position:relative;
	top:-81px;
	left:146px;
}

#demain-lignedevie-horizontal{
	position:relative;
	top:-2894px;
}

#demain-ldvh-1{
	width:489px;
	height:27px;
	position: relative;
	top: 415px;
	left: 573px;
	overflow:hidden;
}
#demain-ldvh-1 img{
	position:relative;
	left : -489px;
}
#demain-ldvh-bout1, #demain-ldvh-bout2, #demain-ldvh-bout3, #demain-ldvh-bout4, #demain-ldvh-bout5{
	width:78px;
	height:9px;
	position:relative;
	left: 337px;
}
#demain-ldvh-bout1{
	background-image:url(../res/partie-3/ldv-bout-horizontale-1.png);
	top: 556px;
}

#demain-ldvh-bout2{
	background-image:url(../res/partie-3/ldv-bout-horizontale-2.png);
	top:644px;
}

#demain-ldvh-bout3{
	background-image:url(../res/partie-3/ldv-bout-horizontale-3.png);
	top:753px;
}

#demain-ldvh-bout4{
	background-image:url(../res/partie-3/ldv-bout-horizontale-4.png);
	top:870px;
}

#demain-ldvh-bout5{
	background-image:url(../res/partie-3/ldv-bout-horizontale-5.png);
	top:971px;
}

#demain-ldvh-2{
	background-image:url(../res/partie-3/ldv-horizontale-2.png);
	width:628px;
	height:21px;
	position: relative;
	top: 1098px;
	left: 339px;
}

#demain-ldvh-3{
	width:193px;
	height:12px;
	position: relative;
	top: 1360px;
	left: 781px;
	overflow:hidden;
}
#demain-ldvh-3 img{
	position:relative;
	left:193px;
}
#demain-ldvh-4{
	width:160px;
	height:17px;
	position: relative;
	top: 2448px;
	left: 197px;
	overflow:hidden;
}
#demain-ldvh-4 img{
	position:relative;
	left:160px;
}

#demain-content-wrapper{
	position:relative;
	top:-2894px;
}

#demain-evolution-texte{
	background-image:url(../res/partie-3/text-evolutions.png);
	width:311px;
	height:94px;
	position:relative;
	top: 375px;
	left: 275px;
}
#demain-evolution-texte p{
	padding-top:25px;
	padding-left:20px;
}
#demain-energie-texte{
	background-image:url(../res/partie-3/text-energie.png);
	width:466px;
	height:90px;
	position:relative;
	top: 415px;
	left: 414px;
}
#demain-energie-texte p{
	padding-top:25px;
	padding-left:20px;
}
#demain-industrie-texte{
	background-image:url(../res/partie-3/text-industrie.png);
	width:356px;
	height:90px;
	position:relative;
	top: 415px;
	left: 414px;
}
#demain-industrie-texte p{
	padding-top:22px;
	padding-left:20px;
}
#demain-banque-texte{
	background-image:url(../res/partie-3/text-banque.png);
	width:427px;
	height:105px;
	position:relative;
	top: 415px;
	left: 414px;
}
#demain-banque-texte p{
	padding-top:22px;
	padding-left:20px;
}
#demain-sante-texte{
	background-image:url(../res/partie-3/text-sante.png);
	width:467px;
	height:105px;
	position:relative;
	top: 420px;
	left: 414px;
}
#demain-sante-texte p{
	padding-top:22px;
	padding-left:20px;
}
#demain-telecommunication-texte{
	background-image:url(../res/partie-3/text-telecommunications.png);
	width:403px;
	height:90px;
	position:relative;
	top: 420px;
	left: 414px;
}
#demain-telecommunication-texte p{
	padding-top:22px;
	padding-left:20px;
}
#demain-collectivite-texte{
	background-image:url(../res/partie-3/text-collectivites-locales.png);
	width:467px;
	height:131px;
	position:relative;
	top: 440px;
	left: 416px;
}
#demain-collectivite-texte p{
	padding-top:25px;
	padding-left:20px;
}
#demain-songdo-texte{
	background-image:url(../res/partie-3/text-songdo.png);
	width:501px;
	height:208px;
	position:relative;
	top: 535px;
	left: 280px;
}
#demain-songdo-video{
	width:729px;
	height:406px;
	position:relative;
	top: 583px;
	left: 161px;
}
#demain-songdo-video-screen{
	position: relative;
	top: -409px;
}

#transition-diagramme{
	width: 100%;
	height: 668px;
	background:url("../res/transition-3-4/ordinateur.png") top center no-repeat;
	position: relative;
	top: -346px;
}
#transition-diagramme-anime{
	width: 1000px;
	height: 549px;
	z-index: -2;
	margin: auto;
}
#transition-diagramme-anime img{
	z-index: -2;
	position: relative;
	left: 510px;
	top: 90px;
}

/* Partie 4 : acteurs et modèle économique */
#acteurs-modele-economique-wrapper {
	width: 100%;
	height: 2220px;
	margin : auto;
	position: relative;
	background:url("../res/partie-4/ligne-de-vie.png") no-repeat top center;
	top: -604px;
}
#acteurs-modele-economique-content-wrapper {
	width: 1000px;
	height: 200px;
	margin: auto;
	position: relative;
	top: 318px;
}
#acteurs-title {
	margin-left:190px;
	padding-bottom:35px;
}
#acteurs-sous-titre {
	padding-bottom:60px;
	margin-left:240px;
}

#acteurs-domotique-texte{
	background:url("../res/partie-4/text-acteurs-domotique.png") top left no-repeat;
    height: 191px;
    left: 256px;
    position: relative;
    top: -44px;
    width: 501px;
}

#acteurs-domotique-texte p {
	padding:25px 35px;
	font-size:15px;
}
#marques-texte{
	background:url("../res/partie-4/text-marques.png") top left no-repeat;
    height: 497px;
    left: 255px;
    position: relative;
    top: -10px;
    width: 501px;
}

#marques-texte p {
	padding:30px 35px;
	font-size:15px;
}


#tomate{
	position:relative;
	top: -525px;
	left: -65px;
}
#tomate-feuille-1{
	position:relative;
	top: -935px;
	left: 45px;
}
#tomate-feuille-2{
    left: -75px;
    position: relative;
    top: -725px;
}
#tomate-texte{
	background:url("../res/partie-4/text-tomate.png") top left no-repeat;
    height: 191px;
    left: 60px;
    position: relative;
    top:-840px;
    width: 340px;
}

#tomate-texte p {
	padding:35px;
	font-size:15px;
}

#tomate-texte p .majuscules {
	color:#dd162e;
}

#btn-tomate {
	position: relative;
	top: -40px;
	left: 35px;
}

/*les gouttes */
#acteur-wrapper-goutte{
	width: 430px;
	height: 580px;
	position: relative;
	top: -1400px;
	left: 770px;
}
#acteur-goutte1{
	position:relative;
	width:69px;
	height:117px;
	left:170px;
	top:-1075px;
}
#acteur-goutte2{
	position:relative;
	width:47px;
	height:81px;
	left:150px;
	top:-55px;
}
#acteur-grosse-goutte{
	position:relative;
	width:192px;
	height:328px;
	top:-30px;
	z-index:10;
}
/* fin gouttes */
#acteur-evian-texte{
	background:url("../res/partie-4/text-evian.png") top left no-repeat;
	width: 344px;
    height: 184px;
    position: relative;
	left: 554px;
    top:-1623px;
}
#acteur-evian-texte p .majuscules {
	color:#77cff1;
}
#btn-evian {
	position: relative;
	top: -40px;
	left: 35px;
}
#acteur-croissance-texte{
	background:url('../res/partie-4/text-initiatives.png') top left no-repeat;
	width: 493px;
    height: 125px;
    position: relative;
	left: 260px;
	top: -1525px;
}
#acteur-kickstarter-texte{
	background:url('../res/partie-4/text-kickstrarter.png') top left no-repeat;
	width: 502px;
    height: 144px;
    position: relative;
	left: 20px;
	top: -1470px;
	z-index:5;
}
#acteur-kickstarter-texte p .majuscules.couleur {
	color:#85c442;
}
#acteur-kickstarter-fleche {
	position:relative;
	width:46px;
	height:32px;
	left:520px;
	top:-1555px;
}
#acteur-kickstarter{
	position:relative;
	width:405px;
	height:56px;
	left:520px;
	top:-1600px;
}
#acteur-gens{
	position:relative;
	width:381px;
	height:137px;
	left:306px;
	top:-1495px;
}
#acteur-cochon {
    height: 423px;
    left: 156px;
    position: relative;
    top: -1255px;
    width: 599px;
}
#acteur-cochon-piece {
    height: 149px;
    left: 410px;
    position: relative;
    top: -1729px;
    width: 149px;
}
#acteur-cochon-cache {
    height: 250px;
    left: 150px;
    position: relative;
    top: -374px;
    width: 349px;
    z-index: 5;
}
#acteur-cochon-projet {
    height: 172px;
    left: 195px;
    position: relative;
    top: -494px;
    width: 284px;
    z-index: 6;
}

/* TRANSITION 4-5 */
#transition-balance{
	width: 100%;
	height: 762px;
	background-image:url(../res/transition%204-5/balance.png);
	background-position: top,center;
	background-repeat: no-repeat;
	position: relative;
	top: 90px;
	left:-10px;
}
#anime-balance-wrapper{
	width: 1000px;
	height: 700px;
	margin: auto;
	position: relative;
	top: -149px;
}
#ligne-de-vie-balance{
	width: 207px;
	height: 480px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 509px;
}
#plus-balance{
	width: 291px;
	height: 292px;
	background-image:url(../res/transition%204-5/plus.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 110px;
	top:-365px;
	z-index: -2;
}
#nuage-balance{
	width: 814px;
	height: 329px;
	background-image:url(../res/transition%204-5/nuage.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 140px;
	top: -480px;
	z-index: -2;
}
#moins-balance{
	width: 291px;
	height: 292px;
	background-image:url(../res/transition%204-5/moins.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	left: 600px;
	top: -935px;
	z-index: -3;
}
/* FIN transition 4-5 */

/* PARTIE AVANTAGE & INCONVENIENTS */
#avantage-lignedevie-vertical, #avantage-lignedevie, #avantage-wrapper-vertical, #avantage-content-wrapper, #avantages-limites-dangers-wrapper, #fond-key{
	width:1031px;
	height:2000px;
	margin:auto;
}
#avantage-lignedevie-vertical{
	background-image:url(../res/partie-5/ligne-de-vie.png);
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	top:-227px;
	left:-63px;
}
#avantage-lignedevie-horizontal{
	position:relative;
	top:-2000px;
}
#fond-key{
	position:relative;
	top:-2000px;
}
#key1{
	position:relative;
	top:635px;
	left:870px;
	z-index:5;
}
#key2{
	position:relative;
	top:585px;
	left:430px;
}
#key3{
	position:relative;
	top:600px;
	left:150px;
}
#key4{
	position:relative;
	top:615px;
	left:-305px;
}
#key5{
	position:relative;
	top:870px;
	left:200px;
}
#key6{
	position:relative;
	top:1140px;
	left:-490px;
}

#avantage-content-wrapper{
	position:relative;
	top:-4000px;
}
#avantage-title{
	position:relative;
	left:270px;
	top:-25px;
}
#avantage-avantage-texte{
	background-image:url(../res/partie-5/text-avantage-1.png);
	width:503px;
	height:198px;
	position:relative;
	left: 270px;
	top:-10px;
}
#avantage-maison{
	width:244px;
	height:245px;
	position:relative;
	top:-175px;
	left: 800px;	
}
#avantage-text2-texte{
	background-image:url(../res/partie-5/text-liste-avantage-2.png);
	width:516px;
	height:269px;
	position:relative;
	top:-224px;
	left: 455px;
}
#avantage-text3-texte{
	background-image:url(../res/partie-5/text-mais-3.png);
	width:503px;
	height:132px;
	position:relative;
	top:-185px;
	left: 260px;
}
#avantage-text4-texte{
	background-image:url(../res/partie-5/text-developpement-4.png);
	width:425px;
	height:158px;
	position:relative;
	top:-110px;
	left: 85px;
}
#avantage-text5-texte{
	background-image:url(../res/partie-5/text-objetintelligent-5.png);
	width:416px;
	height:256px;
	position:relative;
	top:-10px;
	left: 560px;
}
#avantage-text6-texte{
	background-image:url(../res/partie-5/text-final-6.png);
	width:503px;
	height:160px;
	position:relative;
	top:240px;
	left: 280px;
}
#avantage-globe{
	width:134px;
	height:147px;
	position:relative;
	top:-1200px;
	left:180px;
}
#avantage-cadenas{
	width:235px;
	height:588px;
	position:relative;
	top:-735px;
	left:180px;
}
/* FIN PARTIE avantage & inconvenient */

#message-futur{
	width:395px;
	height:406px;
	position:relative;
	top: 673px;
	left: 311px;
}



#message-futur-lettre{
	width:252px;
	height:246px;
	background-image:url(../res/partie-3/msg-futur/lettre.png);
	background-position-x: -504px;
	margin: auto;
	margin-top: 40px;
}
#message-futur-lettre-texte{
	width:358px;
	height:235px;
	background-image:url(../res/partie-3/msg-futur/text-ce-matin.png);
	position: relative;
	top: -63px;
	left: 36px;
}
#message-futur-lettre-texte p{
	position: relative;
	top: 103px;
}
/* clear float */
.clearer{
	clear:both;
}

.relative{
	position:relative;
}

