body {
	background: white;
	font-family: Georgia, Times New Roman, Times, serif;
	background-image: url('../res/background.jpg');
}

/* Assure qu'on ne voit que le header au lancement de la page */
html, body, #content-wrapper, #header{
	height:100%;
}

/* regroupe tout le contenu et assure l'affichage centrale */
#content-wrapper {
	width:1000px;
	margin:auto;
	text-align:center;
}

#header{
	min-height:100%;
	margin-top:10%;
}

/* PARTIE DEFINITION */


/* ILLUSTRATION DE GAUCHE */
#definition-left{
	position:absolute;
	left: 240px;
	top: 1140px;
}

#nuage-twitter{
}

#ligne-definition{
	position: relative;
	left: 155px;
	top: -32px;
}
/* div image definition 1 manuscrite */
#definition1-title{
	margin-left:250px;
	padding-bottom:100px;
}

/* div image defintion object et connecté */
#texte-definition1-part1{
	margin-left:25px;
	position:relative;
	z-index:10;
}

/* div image définition association et tic */
#texte-definition1-part2{
	margin-top:-10px;
	margin-left:260px;
	padding-bottom:90px;
	position:relative;
	z-index:9;
}
#texte-definition1-part2 img{
	float:left;
}
/* image définition tic */
#texte-definition1-tic img{
	float:left;
	margin-top:105px;
	margin-left:-5px;
	position:relative;
	z-index:-1;
}
/* image cliquable pour lien TIC */
#tic-link{
	position: relative;
	top: 96px;
	left: -70px;
}
#tic-link:hover{
	cursor:pointer;
}
/* image cliquable pour lien vers PLUS TIC */
#more-tic-link{
	top: 235px;
	left: -150px;
}
#more-tic-link:hover{
	cursor:pointer;
}
/* FIN DIV IMAGE DEFINTION ET TIC */




/* FIN PARTIE DEFINITION */


/* illustration de définition 1 */
#illustration-definition1{
	margin-left:35px;
	margin-top:-110px;
}




/* clear float */
.clearer{
	clear:both;
}