body {
	background: white;
	font-family: Georgia, Times New Roman, Times, serif;
	background-image: url('../res/background.jpg');
}

#header{
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 50px;
}

#DIV_MOVE{
	z-index: 100;
}

#menu li {
	list-style:none;
	margin:15px auto;
}

#menu li a {
	padding-left:0px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

#menu li a:hover {
	padding-left:15px;
}

#nuage-1{
	position: absolute;
	top:0px;
}

#nuage-2{
	position: absolute;
	top: 450px;
	left: 100px;
}

#twitter_ligne_vie_1{
	width: 100%;
	height: 1560px;
	background-image: url("../res/nuage_4.png");
	background-position: top,center;
	background-repeat: no-repeat;
}

#definition{
	margin-top: 600px;
	height:1560px;
}

#ligne_vie_1{
	width: 100%;
	height: 1560px;
	background-image: url("../res/partie-1/ligne_de_vie_1.png");
	background-position: top,center;
	background-repeat: no-repeat;
}

#definition-wrapper{
	width: 1000px;
	height: 1560px;
	margin : auto;
	position: relative;
	top: -1560px;
	text-align: center;
}

/* div image definition 1 manuscrite */
#definition1-title{
	margin-left:250px;
	padding-bottom:100px;
}

/* div image defintion object et connecté */
#texte-definition1-part1{
	margin-left:255px;
	position:relative;
	z-index:10;
	width:505px;
	overflow: hidden;
}


/* div image définition association et tic */
#texte-definition1-wrapper{
	height:480px;
}

#texte-definition1-part2{
	margin-top:-10px;
	margin-left:260px;
	margin-bottom:90px;
	position:relative;
	z-index:9;
	overflow:hidden;
}
#texte-definition1-part2 img{
	float:left;
}

#text-association, #wrapper-association{
	float:left;
	width:505px;
	height:203px;
	overflow:hidden;
}
/* image définition tic */
#texte-definition1-tic{
	overflow:hidden;
}

#texte-definition1-tic img{
	float:left;
	margin-top:105px;
	margin-left:-5px;
	position:relative;
}
/* image cliquable pour lien TIC */
#tic-link{
	position: relative;
	top: -107px;
	left: 434px;
}
#tic-link:hover{
	cursor:pointer;
}
/* image cliquable pour lien vers PLUS TIC */
#more-tic-link{
	top: 235px;
	left: -150px;
}
#more-tic-link:hover{
	cursor:pointer;
}
/* FIN DIV IMAGE DEFINITION ET TIC */

#illustration-definition1{
	position:relative;
	top:-100px;
}

#illustration-part1, #illustration-fleche, #illustration-part2{
	overflow:hidden;
}

#transition-ville{
	width: 100%;
	height: 253px;
}

#la-ville{
	margin: auto;
	height :1124px;
	background-image:url(../res/transition-1-2/ville.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
	top:-430px;
}
#transition-nuages{
	margin: auto;
	height :655px;
	background-image:url(../res/transition-1-2/ville_nuage.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
	top:-430px;
	z-index: -1;
}

#transition-soleil{
	margin: auto;
	height :655px;
	background-image:url(../res/transition-1-2/ville_soleil.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
	top: 150px;
	z-index: -2;
}

#aujourdhui-title{
	position:relative;
	left:-75px;
}

#aujourdhui{
	height: 4000px;
}
#aujourdhui_ligne_vie{
	height: 3886px;
}
#aujourdhui_ligne_vie_vertical{
	height: 3886px;
	background-image:url(../res/partie-2/ligne-de-vie-vertical.png);
	background-position: top,center;
	background-repeat: no-repeat;
}
#aujourdhui_ligne_vie_horizontal{
	height: 860px;
	margin: auto;
	background-image:url(../res/partie-2/ligne-de-vie-horizontal.png);
	position:relative;
	background-position: top,center;
	background-repeat: no-repeat;
}
#aujourdhui-wrapper{
	width: 1000px;
	height: 4000px;
	margin : auto;
	position: relative;
	top: -3650px;
	text-align: center;
}

#aujourdhui-texte1{
	position:relative;
	top:75px;
	left:5px;
	overflow:hidden;
	height:161px;
}

#aujourdhui-nabaztag{
	position: relative;
	left: -190px;
	top: -80px;
	width:556px;
	height:577px;
	overflow:hidden;
}

#aujourdhui-nabaztag-texte{
	position: relative;
	top: -330px;
	left: -305px;
	height:278px;
}

#btn-nabaztag{
	position: relative;
	left: -187px;
	top: -25px;
}

#nuage-nabaztag{
	position:relative;
	width:434px;
	height:287px;
	top:-2140px;
	left:-300px;
}
#btn-nabaztag:hover{
	cursor:pointer;
}
	
#aujourdhui-iphone{
	position: relative;
	top: -630px;
	left: 499px;
	width:157px;
}

#aujourdhui-iphone-texte{
	position: relative;
	top: -920px;
	left: 340px;
	height:130px;
}

#btn-iphone{
	position:relative;
	top:-20px;
	left:-300px
}

#aujourdhui-raquette{
	position: relative;
	top: -700px;
	left: -100px;
}

#aujourdhui-raquette-texte{
	position: relative;
	top: -1015px;
	left: 115px;
}

#btn-raquette{
	position: relative;
	left: -300px;
	top: -20px;
}

#aujourdhui-chaussure{
	width:343px;
	height:257px;
	overflow:hidden;
	position:relative;
	top: -1210px;
	left: 595px;
}
#aujourdhui-chaussure-texte{
	position:relative;
	width:208px;
	height:211px;
	overflow:hidden;
	top: -1360px;
	left: 800px;
}
#aujourdhui-babyfoot{
	position: relative;
	width: 291px;
	height: 192px;
	overflow: hidden;
	top: -1560px;
	left: 191px;
}
#aujourdhui-babyfoot-texte{
	position: relative;
	width: 214px;
	height: 216px;
	overflow: hidden;
	top: -1665px;
	left: 30px;
}
#aujourdhui-brosse{
	position: relative;
	width: 53px;
	height: 353px;
	overflow: hidden;
	top: -1757px;
	left: 495px;
}
#aujourdhui-brosse-texte{
	position: relative;
	width: 210px;
	height: 278px;
	overflow: hidden;
	top: -1948px;
	left: 545px;
}
/* clear float */
.clearer{
	clear:both;
}